<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/072ea37b-af7e-4a5a-b315-ad377fdb3df7/resourceGroups/cloudapp2018/providers/Microsoft.Web/sites/democloudapp2018</ResourceId>
    <ResourceGroup>cloudapp2018</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://democloudapp2018.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>democloudapp2018.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>democloudapp2018</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$democloudapp2018</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:demoservercloud2018.database.windows.net,1433;Initial Catalog=demodbcloud2018;User ID=admin-dbserver;Password=1234izcbMj1z2x" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="pruebaMvc01.Models.ApplicationDbContext, pruebaMvc01" MigrationConfiguration="pruebaMvc01.Migrations.Configuration, pruebaMvc01" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:demoservercloud2018.database.windows.net,1433;Initial Catalog=demodbcloud2018;User ID=admin-dbserver;Password=1234izcbMj1z2x</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>